.container button{
    margin-top:50px;
    border-radius: 15px;
    border-color: #3fb5e7;
    color:#3fb5e7;
}

.result button{
    margin-top:5px;
    border-radius: 15px;
    border-color: #3fb5e7;
    color:#3fb5e7;
}
.result{
    margin-top: 60px;
}
h1{
    text-align:center;
    padding-top:40px;
}