<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button routerLink="/" >Home</button>
    </div>
    <div class="col-md-4">
      <h1>Search results</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div *ngFor="let post of data | busqueda : resBusqueda" class="col-md-12 result">
      <div *ngIf="!post">No data found {{data | json}}</div>
      <h4>{{post.id}}.- {{post.title | uppercase}}</h4>
      <small>{{post.body}}</small>
      <br><button (click)="details(post.id)">See more</button>      
    </div>
  </div>
</div>