.searchbar button{
    margin:5px 10px;
    border-radius: 15px;
    border-color: #3fb5e7;
    color:#3fb5e7;
}

.result button {
    margin-top: 10px;
    border-radius: 15px;
    border-color: #3fb5e7;
    color:#3fb5e7;
}

.result{
    margin-top:60px;
}

.searchbar{    
    margin-top: 50px;
}
h1{
    text-align:center;
    padding-top:40px;
}
