
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-4">
      <h1>Blog</h1>
    </div>
    <div class="col-md-4 searchbar">
      <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value.searchText)" class="form-inline md-form mr-auto mb-4">
        <input formControlName="searchText" placeholder="Search post..." class="form-control ds-input">
        <button class="my-0 waves-light" mdbWavesEffect type="submit">Search</button>
      </form>
    </div>
  </div>

  <hr>

  <div class="row">
    <div *ngFor="let post of data" class="col-md-4 result">      
      <h4>{{post.id}}.- {{post.title | uppercase}}</h4>
      <small>{{post.body}}</small>
      <br><button (click)="details(post.id)">See more</button>
    </div>
  </div>
</div>