<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button routerLink="/" >Home</button>
    </div>
    <div class="col-md-4">
      <h1>Post details</h1>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12 result">
      <h4>{{post.id}}.- {{post.title | uppercase}}</h4>
      <small>{{post.body}}</small>
    </div>
  </div>
</div>
